<div class="links">
  <div class="link-item">
    <h5><span><ion-icon name="person-outline"></ion-icon></span>Profile</h5>
  </div>
  <div class="link-item">
    <h5><span><ion-icon name="settings-outline"></ion-icon></span>Settings</h5>
  </div>
  <div class="link-item">
    <h5><span><ion-icon name="help-circle-outline"></ion-icon></span>Help</h5>
  </div>
  <div class="link-item" (click)="logout()">
    <h5><span><ion-icon name="log-out-outline"></ion-icon></span>Log out</h5>
  </div>
</div>

