ion-content{
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 16px;
    background-color: #6bb2e1;
    color: #fff;
    .title {
      font-size: 20px;
      font-weight: bold;
    }
  }
}
