<ion-content>
  <div class="header">

    <div class="title">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    </div>

    <div class="title">
      <ion-title>Truth Shield</ion-title>
    </div>

    <!-- Learn about corruption and how we can fight against it -->
    <div class="learn-about-corruption">
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="eye-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>

    <!-- community chats link-->
    <div class="chat">
      <ion-buttons slot="end">
        <ion-button routerLink="/chat">
          <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </div>

  <div class="main-content">

  </div>
</ion-content>

