<ion-content>
  <div class="header">
    <div class="menu">
      <ion-menu-button></ion-menu-button>
    </div>
    <div class="categories">
      <ion-icon name="filter-outline"></ion-icon>
    </div>
  </div>


  <div class="main_content">
    <div class="questions_category">
      <h6>Ethics and Values</h6>
    </div>
    <div class="question_count">
      <h2>Question <span>06/</span>20</h2>
    </div>
    <div class="question">
      <p>Where does corruption start from?</p>
    </div>
    <div class="alternative_ansers">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <p>Home</p>
          </ion-col>
          <ion-col size="12">
            <p>City</p>
          </ion-col>
          <ion-col size="12">
            <p>School</p>
          </ion-col>
          <ion-col size="12">
            <p>Town</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-footer>
      <p>Quit Quiz</p>
      <ion-button>Next</ion-button>
    </ion-footer>
  </div>
</ion-content>
