<ion-content>
  <div class="header">
    <div class="menu">
      <ion-menu-button></ion-menu-button>
    </div>
    <p>Wilberforce</p>
  </div>

  <div class="main-content" id="main-content">
    <div class="profile">
      <div class="awards">
        <h1 class="ion-text-center points">58</h1>
        <p class="ion-text-center">points</p>
      </div>
    </div>

    <div class="quiz_category_content">
      <div class="title">
        <h4 class="ion-text-center">Quiz Categories</h4>
      </div>
      <div class="quiz_categories">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="6" *ngFor="let item of quiz_categories">
              <div class="col_div" routerLink="/question">
                <ion-icon name="help-circle-outline"></ion-icon>
                <!-- <img src="{{item.img}}" alt=""> -->
                <ion-label>{{item.name}}</ion-label>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    </div>
</ion-content>
