<ion-content>

  <div class="header">

    <div class="title">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    </div>

    <div class="title">
      <ion-title>Report Corruption Case</ion-title>
    </div>

  </div>
  <div class="tagger">
    <h5>Report a case</h5>
  </div>

  <form [formGroup]="reportForm" (ngSubmit)="submitReport()">

    <ion-item>
      <ion-label position="stacked">Title</ion-label>
      <ion-input formControlName="title" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Date and Time of Occurence</ion-label>
      <ion-input formControlName="time" type="date" accept="image/*"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Description of the Case</ion-label>
      <ion-textarea formControlName="description" rows="8" autoGrow="true" autocapitalize="on" autocorrect="on" placeholder="Write your description... "></ion-textarea>
      <ion-note color="primary">
        <p><ion-icon name="document-attach-outline"></ion-icon></p>
        <p><ion-icon name="videocam-outline"></ion-icon></p>
        <p><ion-icon name="image-outline"></ion-icon></p>
        <p><ion-icon name="attach-outline"></ion-icon></p>
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Location Coordinates</ion-label>
      <ion-input formControlName="location" type="text" [(ngModel)]="location"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Parties Involved</ion-label>
      <ion-input formControlName="parties_involved" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Evidence (optional)</ion-label>
      <ion-input formControlName="evidence" type="file" accept="image/*"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">
      Submit Report
    </ion-button>
    <br><br>
  </form>

</ion-content>
