<ion-content>
  <div class="header">
    <div class="menu">
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <ion-icon name="arrow-back-outline"></ion-icon>
         </ion-button>
      </ion-buttons>
    </div>

    <div class="title">
      <ion-title>{{title}}</ion-title>
    </div>

    <!-- community chats link-->
    <div class="chat">
      <ion-buttons slot="end">
        <ion-button (click)="presentPopover($event)">
          <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </div>

  <div class="main-content" id="main-content">
    <div class="tabs">
      <ion-segment [value]="select_tab" (ionChange)="segmentChanged($event)">
        <ion-segment-button *ngIf="type==='Pursue'"  value="new">
          <ion-label>new</ion-label>
        </ion-segment-button>
        <ion-segment-button value="drafts">
          <ion-label>Drafts</ion-label>
        </ion-segment-button>
        <ion-segment-button value="submitted">
          <ion-label>Submitted</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    </div>
          <!-- Report a case -->
      <div *ngIf="active_tab==='drafts'">
        <div *ngFor="let report of reports">
        <ion-item button detail lines="full" *ngIf="report.status=='drafts'" routerLink="/view-report/{{report.id}}">
          <ion-label>{{report.title}}</ion-label>
        </ion-item>
      </div>

        <br><br><br><br>

        <ion-fab vertical="bottom" horizontal="center" routerLink="/report-case/{{title}}">
          <ion-fab-button>
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </div>

      <div *ngIf="active_tab==='submitted'">
        <div *ngFor="let report of reports">
        <ion-item button detail lines="full" *ngIf="report.status=='submitted'" routerLink="/view-report/{{report.id}}">
          <ion-label>{{report.title}}</ion-label>
        </ion-item>
      </div>
      </div>



    <!-- Report a case -->
    <div *ngIf="type==='Pursue' && active_tab==='new'">
      <div *ngFor="let report of reports">
      <ion-item button detail lines="full" *ngIf="report.status=='submitted'" routerLink="/view-report/{{report.id}}">
        <ion-label>{{report.title}}</ion-label>
      </ion-item>
    </div>
    </div>
</ion-content>
