<ion-content>
  <div class="header">
    <div class="menu">
      <ion-menu-button></ion-menu-button>
    </div>
    <!-- Learn about corruption and how we can fight against it -->
    <div class="learn-about-corruption">
      <ion-buttons slot="end">
        <ion-button routerLink="/tutorials">
          <ion-icon name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>

    <!-- community chats link-->
    <!-- <div class="chat">
      <ion-buttons slot="end">
        <ion-button routerLink="/chat">
          <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="presentPopover($event)">
          <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div> -->
  </div>
  <ion-list>
    <ion-item *ngFor="let note of notes" (click)="openNoteDetail(note)">
      <ion-label>
        <h2>{{note.title}}</h2>
        <p>{{note.text}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addNote()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
